# Ignore all compiled python files
*.pyc
#.swp

# People don't need to see my personal BUGLIST or TODO files
BUGLIST
TODO
OLD

# or my maintenance script
cleanup

CAVE_STUFF/*.pyc
CAVE_STUFF/logfile
CAVE_STUFF/.cave_system.py
CAVE_STUFF/cave_notes
