# Ignore all compiled python files
*.pyc
#.swp

# People don't need to see my personal BUGLIST or TODO files
BUGLIST
TODO
.old

# or my maintenance script
cleanup

OTHER/CAVE_STUFF/*.pyc
OTHER/CAVE_STUFF/logfile
OTHER/CAVE_STUFF/.cave_system.py
OTHER/CAVE_STUFF/cave_notes
